{% extends "base.html" %}

{% block title %}
    Authors on This Node
{% endblock %}

{% block css %}
    <!-- page-specific tweaks – minimal -->
    <style>
        /* Use app.css */
    </style>
{% endblock %}

{% block page %}
    <div class="main-content authors-list-page">
        <h1>Authors on This Node</h1>
        <p>Welcome to our node! Here are the authors currently hosted here.</p>

        {% if authors %}
            <ul class='authors-list'>
                {% for author in authors %}
                    <li>
                        <a href="{% url 'author_profile' id=author.id %}">
                            {{ author.displayName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No authors yet. Be the first!</p>
        {% endif %}
    </div>
{% endblock %}