{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block page %}
<div class="main-content page">
    <p><a href="{% url 'author_profile' id=author.id %}">Back to {{ author.displayName }}'s profile</a></p>
    <h2>{{ title }}</h2>

    {% if friends %}
        <ul>
            {% for friend in friends %}
                <li>
                    <a href="{% url 'author_profile' id=friend.id %}">
                        {{ friend.displayName }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No friends yet.</p>
    {% endif %}

</div>
{% endblock %}