{% extends "base.html" %}
{% block title %} Create a Post
{{ post.title }}
{% endblock %}
{% block css %}
<style> img {width: 100%;}</style>
{% endblock %}
{% block page %}
<div class="main-content create-edit-page">
    <h1>Create Post by {{ author.displayName }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select required id="type" name="type"> {# Little help from this source as to how to implement the dropdown menu: "https://stackoverflow.com/questions/62839945/how-to-add-display-dropdown-fields-in-django" #}
            {# https://stackoverflow.com/a/30525521 Author: Aurelio #}
            <option value="" selected disabled hidden>Choose post type</option>
            {% for value, label in type_choices %}
                <option id="type_{{value|lower}}" value="{{ value }}">{{ label }}</option>
            {% endfor %}
            <script>
                window.addEventListener('load', main);
                function main() {
                    changeContentInput()
                    document.getElementById("type").addEventListener("change", changeContentInput)
                    document.getElementById("image_input").addEventListener("change", updatePreview)
                }
                function changeContentInput() {
                    if (document.getElementById("type_image").selected) {
                        document.getElementById("image_input").hidden = false;
                        document.getElementById("image_preview").hidden = false;
                        document.getElementById("text_input").hidden = true;
                    } else {
                        document.getElementById("image_input").hidden = true;
                        document.getElementById("image_preview").hidden = true;
                        document.getElementById("text_input").hidden = false;
                    }
                }
                function updatePreview() {
                    document.getElementById("image_preview").setAttribute("src", URL.createObjectURL(document.getElementById("image_input").files[0]))
                }
            </script>
        </select>
        <select required name="visibility" id="visibility"> {# Little help from this source as to how to implement the dropdown menu: "https://stackoverflow.com/questions/62839945/how-to-add-display-dropdown-fields-in-django" #}
            <option value="" selected disabled hidden>Choose post visibility</option>
            {% for value, label in visibility_choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="text" name="title" placeholder="Title">
        {# https://www.w3schools.com/TAGS/att_input_accept.asp #}
        <div id="content-space">
        <textarea name="content" id="text_input" rows="5" cols="40" placeholder="Write your post here..."></textarea>
        <input type="file" id="image_input" accept="image/*" name="img">
        <img id="image_preview">
        </div>
        <button type="submit">Post</button>
    </form>
</div>
{% endblock %}
