{% extends "base.html" %}
{% block title %}
Edit Post
{%endblock%}
{% block css %}
<style> img {width: 100%;}</style>
{% endblock %}

{% block page %}
<div class="main-content create-edit-page">
    <h1>Edit Post</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="type">Type:</label>
        <select required id="type" name="type">
            {% for value, label in type_choices %}
                <option id="type_{{value|lower}}" value="{{ value }}" {% if value == post.type %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
            <script>
                window.addEventListener('load', main);
                function main() {
                    changeContentInput()
                    document.getElementById("type").addEventListener("change", changeContentInput)
                    document.getElementById("image_input").addEventListener("change", updatePreview)
                }
                function changeContentInput() {
                    if (document.getElementById("type_image").selected) {
                        document.getElementById("image_input").hidden = false;
                        document.getElementById("image_preview").hidden = false;
                        document.getElementById("text_input").hidden = true;
                    } else {
                        document.getElementById("image_input").hidden = true;
                        document.getElementById("image_preview").hidden = true;
                        document.getElementById("text_input").hidden = false;
                    }
                }
                function updatePreview() {
                    document.getElementById("image_preview").setAttribute("src", URL.createObjectURL(document.getElementById("image_input").files[0]))
                }
            </script>
        </select>
        <label for="visibility_input">Visibility:</label>
        <select name="visibility" id="visibility_input">
        {% for value, label in visibility_choices %}
            {% if value != "DELETED" %} {# hide the Deleted option #}
                <option value="{{ value }}" {% if value == post.visibility %}selected{% endif %}>{{ label }}</option>
            {% endif %}
        {% endfor %}
        </select>
        <br>
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title" value="{{ post.title }}"><br>
        <div id="content-space">
        {% if post.type == "IMAGE" %}
            <input type="file" id="image_input" accept="image/*" name="img">
            <img id="image_preview" src="data:{{ post.contentType }};base64,{{ post.content }}">
            <textarea hidden name="content" id="text_input" rows="5" placeholder="Write your post here..."></textarea>
        {% else %}
            <input hidden type="file" id="image_input" accept="image/*" name="img">
            <img hidden id="image_preview">
            <textarea name="content" id="text_input" rows="5">{{ post.content }}</textarea>
        {% endif %}
        </div>
        <input type="submit" value="Save Changes">
    </form>

</div>
{%endblock%}